<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Node.js課題②</title>
    <meta name="description" content="Node.js課題②">
        <p>
           username: <%= name %>
        </p>
</head>

<body>
    <table>
        <tr>
            <p>You are logged in!</p>
        </tr>
    </table>
    <input type="button" value="Logout">
</body>

</html>