<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Node.js課題②</title>
    <meta name="description" content="Node.js課題②">
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/register">Register</a>
</head>

<body>
    <table>
        <tr>
            <p>Login</p>
        </tr>
        <tr>
            <form action="/login" method="post">
                <p>username：<input type="text" name="username" size="40"></p>
                <p>password：<input type="text" name="password" size="40"></p>
                <p><input type="submit" value="Login"></p>
            </form>
        </tr>
    </table>
</body>

</html>